// Variables

$colorprimary:   #58e1c1;
$colorsecondary: #777;
$colordefault:   #51ddfc;
$colorerror:     #e4757a;
$colorinfo:      #927bc1;
$colorwarning:   #fd7856;
$colorsuccess:   #63cc82;

$fontweight: 300;
$br: 5px;
$fb: 100%;

$media: 768px;