/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
  font-family: 'Lato', sans-serif;
  color: $colorsecondary;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

.headline-primary {
  color: $colorprimary;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: $fontweight;
  color: $colorsecondary;
}

.link {
  color: $colordefault;
  font-weight: 700;
}

.blockquote {
  font-size: 1.5em;
  font-weight: $fontweight;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $colorprimary;
  border-radius: $br;
}